html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body, #root {
    min-height:100vh;
    font-family: cursive;
}

body {
    height: 100vh;
    background: antiquewhite;
}
a {
    text-decoration: none;
    color: #8BC34A ;
}
ul.tab-info-ul {
    display: flex;
    flex-direction: column; 
    list-style-type: none;
    margin: 0px;
}

li.tab-info-li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: antiquewhite;
    width:100%;
    margin-right: 25px;
    padding: 5px 0px;
}

td {
    height: 100%;
}

td input {
    height: 100%;
    border: none;
}

td.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected {
    background:black;
}

button {
    background: white;
    border: 1px solid black;
    border-radius: 3px;
}

button .rank-up {
    color: #9C27B0;
}

td select {
    width: 100%;
}

.user-container {
    display: flex;
    flex-direction: row;
}

.user-table {
    flex-grow: 3;
    display: flex;
    justify-content: center;
}

.user-pagination {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 24px;
}

a:hover {
    color: deeppink !important;
    cursor: pointer;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-bar span {
    color: #fcffe1 ;
    text-align: center;
    vertical-align: center;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.nav-bar .menu li a {
    color: #fcffe1;
    border-bottom: 1px dashed;
    box-shadow: 0px 2px 5px 2px #e15018e8;
}

.menu {
    margin: 0;
    list-style: none;
    display: flex;
}

.menu li {
    padding: 5px 18px;
}

.custom-shape-divider-top-1597926621 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

ul.tab-info-ul li a {
    color: #8BC34A;
}

h1.title {
    text-align:center; 
}

form.search {
    display: grid;
    justify-content: center;

}

form.search div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.form-title {
    text-align: center;
    border-top: 1px dashed coral;
}

svg {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.role-list {
    flex-grow: 1;
}

.promotion-container {
    display: flex;
    justify-content: center;
}

.selected-page {
    color: #8BC34A;
    background: #897870;
    width: 20px;
    text-align: center;
}

form.user-form {
    display: flex;
    flex-direction: column;
    width: 24rem;
    align-items: center;
    margin: auto;
}

.input-flex {
    display: flex;
}

td {
    text-align: center;
}

td:nth-child(3) {
    width: 10rem;
}

td:nth-child(4) {
    width: 7rem;
}

td:nth-last-child(3) {
    width: 7rem;
}

.search td:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search td:last-child button {
    margin: 5px 5px !important;
}

.btn--cart {
    font-size: 18px;
    padding-bottom: 3px;
    width: 36px;
    height: 30px;
}

.checkout {
    flex-grow: 2;
}

.td--total {
    background: pink;
    font-size: 18px;
    font-weight: 600;
    color: #712f1a;
}

.btn-checkout {
    color: blue;
    margin: 0px !important;
    font-weight: 700;
    font-size: 24px;
    width: 100%;
}

.input-search {
    display: flex;
    justify-content: stretch;
}

.input-search input {
    flex-grow: 1;
}

form.search div  {
    margin: 5px 0px;
}

.admin-right-btn {
    position: absolute;
    height: 4em;
    right: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.admin-right-btn > button {
    padding: 5px 10px;
}