<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="lab02-officialPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>entity.Book</class>
    <class>entity.Category</class>
    <class>entity.User</class>
    <class>entity.Role</class>
    <class>entity.test.Category</class>
    <class>entity.test.Book</class>
    <class>entity.test.Shopping</class>
    <class>entity.test.Discount</class>
    <class>entity.test.User</class>
    <class>entity.test.Role</class>
    <class>entity.test.ShoppingBook</class>
    <class>entity.test.Shopping_1</class>
    <class>entity.test.User_1</class>
    <class>entity.test.Book_1</class>
    <class>entity.test.Role_1</class>
    <class>entity.test.Category_1</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:sqlserver://localhost\THONGLVSE61916:1433;databaseName=lab02"/>
      <property name="javax.persistence.jdbc.user" value="sa"/>
      <property name="javax.persistence.jdbc.driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
      <property name="javax.persistence.jdbc.password" value="thong131"/>
    </properties>
  </persistence-unit>
</persistence>
